body {
	margin:0;
	padding:0;
}

#container {
	position:relative;
	z-index:1;
	height:100%;
	width:100%;
	background:#ddd;
	background: -moz-linear-gradient(white, #bbb);
	background: -webkit-gradient(linear, 0% 100% 0% 0%, from(#bbb), to(white));
	background: -webkit-linear-gradient(white, #bbb);
}

button {
	position: fixed;
	z-index:2;
	top:0;
	left:0;
	padding : 3px;
	margin:5px;
	text-align: center;
	width:100px;
}